$swag-color: rgb(17, 247, 67);
$swag-color: rgba(17, 247, 67, 0.9);
$background-color: white;
$header-background: #2a2c2e;
$navbar-height: 58.38px;
$default-margin: 5rem;
$watermark-color: rgb(240, 238, 239);